In [2]:
# Import standard packages
import itertools
import numpy as np
import pandas as pd 
from numbers import Number
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OneHotEncoder
%matplotlib inline

In [34]:
# Import the data
df = pd.read_csv('./data/kc_house_data.csv')

# Investigating the data

In [35]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.00,3,1.00,1180,5650,1.00,NaN,NONE,...,7 Average,1180,0.0,1955,0.00,98178,47.51,-122.26,1340,5650
1,6414100192,12/9/2014,538000.00,3,2.25,2570,7242,2.00,NO,NONE,...,7 Average,2170,400.0,1951,1991.00,98125,47.72,-122.32,1690,7639
2,5631500400,2/25/2015,180000.00,2,1.00,770,10000,1.00,NO,NONE,...,6 Low Average,770,0.0,1933,nan,98028,47.74,-122.23,2720,8062
3,2487200875,12/9/2014,604000.00,4,3.00,1960,5000,1.00,NO,NONE,...,7 Average,1050,910.0,1965,0.00,98136,47.52,-122.39,1360,5000
4,1954400510,2/18/2015,510000.00,3,2.00,1680,8080,1.00,NO,NONE,...,8 Good,1680,0.0,1987,0.00,98074,47.62,-122.05,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.00,3,2.50,1530,1131,3.00,NO,NONE,...,8 Good,1530,0.0,2009,0.00,98103,47.70,-122.35,1530,1509
21593,6600060120,2/23/2015,400000.00,4,2.50,2310,5813,2.00,NO,NONE,...,8 Good,2310,0.0,2014,0.00,98146,47.51,-122.36,1830,7200
21594,1523300141,6/23/2014,402101.00,2,0.75,1020,1350,2.00,NO,NONE,...,7 Average,1020,0.0,2009,0.00,98144,47.59,-122.30,1020,2007
21595,291310100,1/16/2015,400000.00,3,2.50,1600,2388,2.00,NaN,NONE,...,8 Good,1600,0.0,2004,0.00,98027,47.53,-122.07,1410,1287
21596,1523300157,10/15/2014,325000.00,2,0.75,1020,1076,2.00,NO,NONE,...,7 Average,1020,0.0,2008,0.00,98144,47.59,-122.30,1020,1357

In [4]:
df.shape

(21597, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [6]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [26]:
df.corr()['price'].map(abs).sort_values(ascending=False)

price           1.00
sqft_living     0.70
sqft_above      0.61
sqft_living15   0.59
bathrooms       0.53
bedrooms        0.31
lat             0.31
floors          0.26
yr_renovated    0.13
sqft_lot        0.09
sqft_lot15      0.08
yr_built        0.05
zipcode         0.05
long            0.02
id              0.02
Name: price, dtype: float64

In [8]:
df.isnull().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [9]:
df.isnull().sum().sum()

6281

In [24]:
df['waterfront'].value_counts()

NO     19075
YES      146
Name: waterfront, dtype: int64

In [36]:
df['yr_renovated'].value_counts()

0.00       17011
2014.00       73
2003.00       31
2013.00       31
2007.00       30
           ...
1946.00        1
1959.00        1
1971.00        1
1951.00        1
1954.00        1
Name: yr_renovated, Length: 70, dtype: int64

In [28]:
#dropping scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df.describe()#finding the mean

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21597.00,21597.00,21597.00,21597.00,21597.00,21597.00,21597.00,21597.00,21597.00,17755.00,21597.00,21597.00,21597.00,21597.00,21597.00
mean,4580474287.77,540296.57,3.37,2.12,2080.32,15099.41,1.49,1788.60,1971.00,83.64,98077.95,47.56,-122.21,1986.62,12758.28
std,2876735715.75,367368.14,0.93,0.77,918.11,41412.64,0.54,827.76,29.38,399.95,53.51,0.14,0.14,685.23,27274.44
min,1000102.00,78000.00,1.00,0.50,370.00,520.00,1.00,370.00,1900.00,0.00,98001.00,47.16,-122.52,399.00,651.00
25%,2123049175.00,322000.00,3.00,1.75,1430.00,5040.00,1.00,1190.00,1951.00,0.00,98033.00,47.47,-122.33,1490.00,5100.00
50%,3904930410.00,450000.00,3.00,2.25,1910.00,7618.00,1.50,1560.00,1975.00,0.00,98065.00,47.57,-122.23,1840.00,7620.00
75%,7308900490.00,645000.00,4.00,2.50,2550.00,10685.00,2.00,2210.00,1997.00,0.00,98118.00,47.68,-122.12,2360.00,10083.00
max,9900000190.00,7700000.00,33.00,8.00,13540.00,1651359.00,3.50,9410.00,2015.00,2015.00,98199.00,47.78,-121.31,6210.00,871200.00

In [37]:
df.loc[df['price'] = 450000]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,12/9/2014,538000.00,3,2.25,2570,7242,2.00,NO,NONE,...,7 Average,2170,400.0,1951,1991.00,98125,47.72,-122.32,1690,7639
3,2487200875,12/9/2014,604000.00,4,3.00,1960,5000,1.00,NO,NONE,...,7 Average,1050,910.0,1965,0.00,98136,47.52,-122.39,1360,5000
4,1954400510,2/18/2015,510000.00,3,2.00,1680,8080,1.00,NO,NONE,...,8 Good,1680,0.0,1987,0.00,98074,47.62,-122.05,1800,7503
5,7237550310,5/12/2014,1230000.00,4,4.50,5420,101930,1.00,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.00,98053,47.66,-122.00,4760,101930
10,1736800520,4/3/2015,662500.00,3,2.50,3560,9796,1.00,NaN,NONE,...,8 Good,1860,1700.0,1965,0.00,98007,47.60,-122.14,2210,8925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21585,5100403806,4/7/2015,467000.00,3,2.50,1425,1179,3.00,NO,NONE,...,8 Good,1425,0.0,2008,0.00,98125,47.70,-122.32,1285,1253
21587,7852140040,8/25/2014,507250.00,3,2.50,2270,5536,2.00,NaN,NONE,...,8 Good,2270,0.0,2003,0.00,98065,47.54,-121.88,2270,5731
21589,3448900210,10/14/2014,610685.00,4,2.50,2520,6023,2.00,NO,NaN,...,9 Better,2520,0.0,2014,0.00,98056,47.51,-122.17,2520,6023
21590,7936000429,3/26/2015,1010000.00,4,3.50,3510,7200,2.00,NO,NONE,...,9 Better,2600,910.0,2009,0.00,98136,47.55,-122.40,2050,6200
21591,2997800021,2/19/2015,475000.00,3,2.50,1310,1294,2.00,NO,NONE,...,8 Good,1180,130.0,2008,0.00,98116,47.58,-122.41,1330,1265

In [32]:
df.loc[df['price'] >= 650000]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
5,7237550310,5/12/2014,1230000.00,4,4.50,5420,101930,1.00,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.00,98053,47.66,-122.00,4760,101930
10,1736800520,4/3/2015,662500.00,3,2.50,3560,9796,1.00,NaN,NONE,...,8 Good,1860,1700.0,1965,0.00,98007,47.60,-122.14,2210,8925
15,9297300055,1/24/2015,650000.00,4,3.00,2950,5000,2.00,NO,GOOD,...,9 Better,1980,970.0,1979,0.00,98126,47.57,-122.38,2140,4000
21,2524049179,8/26/2014,2000000.00,3,2.75,3050,44867,1.00,NO,EXCELLENT,...,9 Better,2330,720.0,1968,0.00,98040,47.53,-122.23,4110,20336
26,1794500383,6/26/2014,937000.00,3,1.75,2450,2691,2.00,NO,NONE,...,8 Good,1750,700.0,1915,nan,98119,47.64,-122.36,1760,3573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21580,7502800100,8/13/2014,679950.00,5,2.75,3600,9437,2.00,NO,NONE,...,9 Better,3600,0.0,2014,0.00,98059,47.48,-122.13,3550,9421
21581,191100405,4/21/2015,1580000.00,4,3.25,3410,10125,2.00,NO,NONE,...,10 Very Good,3410,?,2007,nan,98040,47.57,-122.22,2290,10125
21583,7202300110,9/15/2014,810000.00,4,3.00,3990,7838,2.00,NO,NONE,...,9 Better,3990,0.0,2003,nan,98053,47.69,-122.05,3370,6814
21584,249000205,10/15/2014,1540000.00,5,3.75,4470,8088,2.00,NO,NONE,...,11 Excellent,4470,0.0,2008,0.00,98004,47.63,-122.20,2780,8964
21590,7936000429,3/26/2015,1010000.00,4,3.50,3510,7200,2.00,NO,NONE,...,9 Better,2600,910.0,2009,0.00,98136,47.55,-122.40,2050,6200