In [106]:
# Import standard packages
import itertools
import numpy as np
import pandas as pd 
from numbers import Number
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OneHotEncoder
%matplotlib inline

In [107]:
# Import the data
df = pd.read_csv('./data/kc_house_data.csv')

# Investigating the data

In [118]:
df.shape

(21597, 21)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [110]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21597.00000,21597.00000,21597.00000,21597.00000,21597.00000,21597.00000,21597.00000,21597.00000,21597.00000,17755.00000,21597.00000,21597.00000,21597.00000,21597.00000,21597.00000
mean,4580474287.77099,540296.57351,3.37320,2.11583,2080.32185,15099.40876,1.49410,1788.59684,1970.99968,83.63678,98077.95185,47.56009,-122.21398,1986.62032,12758.28351
std,2876735715.74778,367368.14010,0.92630,0.76898,918.10613,41412.63688,0.53968,827.75976,29.37523,399.94641,53.51307,0.13855,0.14072,685.23047,27274.44195
min,1000102.00000,78000.00000,1.00000,0.50000,370.00000,520.00000,1.00000,370.00000,1900.00000,0.00000,98001.00000,47.15590,-122.51900,399.00000,651.00000
25%,2123049175.00000,322000.00000,3.00000,1.75000,1430.00000,5040.00000,1.00000,1190.00000,1951.00000,0.00000,98033.00000,47.47110,-122.32800,1490.00000,5100.00000
50%,3904930410.00000,450000.00000,3.00000,2.25000,1910.00000,7618.00000,1.50000,1560.00000,1975.00000,0.00000,98065.00000,47.57180,-122.23100,1840.00000,7620.00000
75%,7308900490.00000,645000.00000,4.00000,2.50000,2550.00000,10685.00000,2.00000,2210.00000,1997.00000,0.00000,98118.00000,47.67800,-122.12500,2360.00000,10083.00000
max,9900000190.00000,7700000.00000,33.00000,8.00000,13540.00000,1651359.00000,3.50000,9410.00000,2015.00000,2015.00000,98199.00000,47.77760,-121.31500,6210.00000,871200.00000

In [111]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.00000,3,1.00000,1180,5650,1.00000,NaN,NONE,...,7 Average,1180,0.0,1955,0.00000,98178,47.51120,-122.25700,1340,5650
1,6414100192,12/9/2014,538000.00000,3,2.25000,2570,7242,2.00000,NO,NONE,...,7 Average,2170,400.0,1951,1991.00000,98125,47.72100,-122.31900,1690,7639
2,5631500400,2/25/2015,180000.00000,2,1.00000,770,10000,1.00000,NO,NONE,...,6 Low Average,770,0.0,1933,nan,98028,47.73790,-122.23300,2720,8062
3,2487200875,12/9/2014,604000.00000,4,3.00000,1960,5000,1.00000,NO,NONE,...,7 Average,1050,910.0,1965,0.00000,98136,47.52080,-122.39300,1360,5000
4,1954400510,2/18/2015,510000.00000,3,2.00000,1680,8080,1.00000,NO,NONE,...,8 Good,1680,0.0,1987,0.00000,98074,47.61680,-122.04500,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.00000,3,2.50000,1530,1131,3.00000,NO,NONE,...,8 Good,1530,0.0,2009,0.00000,98103,47.69930,-122.34600,1530,1509
21593,6600060120,2/23/2015,400000.00000,4,2.50000,2310,5813,2.00000,NO,NONE,...,8 Good,2310,0.0,2014,0.00000,98146,47.51070,-122.36200,1830,7200
21594,1523300141,6/23/2014,402101.00000,2,0.75000,1020,1350,2.00000,NO,NONE,...,7 Average,1020,0.0,2009,0.00000,98144,47.59440,-122.29900,1020,2007
21595,291310100,1/16/2015,400000.00000,3,2.50000,1600,2388,2.00000,NaN,NONE,...,8 Good,1600,0.0,2004,0.00000,98027,47.53450,-122.06900,1410,1287
21596,1523300157,10/15/2014,325000.00000,2,0.75000,1020,1076,2.00000,NO,NONE,...,7 Average,1020,0.0,2008,0.00000,98144,47.59410,-122.29900,1020,1357

In [112]:
df.isnull().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [113]:
df.isnull().sum().sum()

6281

In [115]:
df['waterfront'].describe()

count     19221
unique        2
top          NO
freq      19075
Name: waterfront, dtype: object

In [116]:
df['yr_renovated']

0          0.00000
1       1991.00000
2              nan
3          0.00000
4          0.00000
           ...
21592      0.00000
21593      0.00000
21594      0.00000
21595      0.00000
21596      0.00000
Name: yr_renovated, Length: 21597, dtype: float64

In [117]:
#dropping scientific notation
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.00000,3,1.00000,1180,5650,1.00000,NaN,NONE,...,7 Average,1180,0.0,1955,0.00000,98178,47.51120,-122.25700,1340,5650
1,6414100192,12/9/2014,538000.00000,3,2.25000,2570,7242,2.00000,NO,NONE,...,7 Average,2170,400.0,1951,1991.00000,98125,47.72100,-122.31900,1690,7639
2,5631500400,2/25/2015,180000.00000,2,1.00000,770,10000,1.00000,NO,NONE,...,6 Low Average,770,0.0,1933,nan,98028,47.73790,-122.23300,2720,8062
3,2487200875,12/9/2014,604000.00000,4,3.00000,1960,5000,1.00000,NO,NONE,...,7 Average,1050,910.0,1965,0.00000,98136,47.52080,-122.39300,1360,5000
4,1954400510,2/18/2015,510000.00000,3,2.00000,1680,8080,1.00000,NO,NONE,...,8 Good,1680,0.0,1987,0.00000,98074,47.61680,-122.04500,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.00000,3,2.50000,1530,1131,3.00000,NO,NONE,...,8 Good,1530,0.0,2009,0.00000,98103,47.69930,-122.34600,1530,1509
21593,6600060120,2/23/2015,400000.00000,4,2.50000,2310,5813,2.00000,NO,NONE,...,8 Good,2310,0.0,2014,0.00000,98146,47.51070,-122.36200,1830,7200
21594,1523300141,6/23/2014,402101.00000,2,0.75000,1020,1350,2.00000,NO,NONE,...,7 Average,1020,0.0,2009,0.00000,98144,47.59440,-122.29900,1020,2007
21595,291310100,1/16/2015,400000.00000,3,2.50000,1600,2388,2.00000,NaN,NONE,...,8 Good,1600,0.0,2004,0.00000,98027,47.53450,-122.06900,1410,1287
21596,1523300157,10/15/2014,325000.00000,2,0.75000,1020,1076,2.00000,NO,NONE,...,7 Average,1020,0.0,2008,0.00000,98144,47.59410,-122.29900,1020,1357